.container-home {
    block-size: 100vh;
}

.main {
    display: grid;
    grid-template-areas:
        "search search"
        "view view"
        "player player";
    grid-template-rows: 75px 1fr 85px;
}