.player-nav {
    background-color: var(--gray50);
    border-block-start: 0.1rem solid var(--gray30);
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 85%;
    inline-size: 100%;
    padding-block: 1rem;
    block-size: 5.5rem;
}

.player-song-info {
    inline-size: 10rem;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-song-info-img img {
    display: block;
    inline-size: 4rem;
}

.player-song-info-info {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.player-song-info-info h5 {
    margin: 0;
}

.title-song {
    font-size: 1rem;
}

.artist-name {
    font-size: .85rem;

    &:hover {
        cursor: pointer;
    }
}

.player-controls {
    display: flex;
    flex-direction: column;
    inline-size: 15rem;
    gap: .5rem;
}

.player-controls-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.player-playback {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.player-volumen {
    inline-size: 5rem;
    display: flex;
}

.button-icon {
    outline: none;
    border: none;
    background-color: #00000000;
    color: var(--gray10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon:hover {
    cursor: pointer;
}

.button-icon:active {
    transform: scale(0.95);
}

.button-icon span {
    font-size: 1.5rem;
}

.alter-white {
    background-color: var(--white);
    color: var(--gray50);
    padding: .75rem;
    border-radius: 2rem;
}

.slider-container {
    inline-size: 8rem;
}

.slider-container-volumen {
    inline-size: 100%;
}

input[type="range"] {
    font-size: 1.5rem;
    inline-size: 100%;
}

input[type="range"] {
    color: var(--primary);
    --thumb-height: 1.15rem;
    --track-height: 0.125em;
    --track-color: var(--gray20);
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
}

input[type="range"] {
    position: relative;
    background: #fff0;
    overflow: hidden;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}



.volumen {
    color: var(--gray10);
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    position: relative;
}

input[type="range"]::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(100% -1px,
            var(--clip-edges) -1px,
            0 var(--clip-top),
            -100vmax var(--clip-top),
            -100vmax var(--clip-bottom),
            0 var(--clip-bottom),
            var(--clip-edges) 100%,
            var(--clip-further) var(--clip-further));
}

input[type="range"]:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

@media screen and (min-width: 768px) {
    .player-controls {
        inline-size: 28rem;
    }

    .slider-container {
        inline-size: 15rem;
    }

    .player-volumen {
        inline-size: 8rem;
    }

    .player-song-info {
        inline-size: 13rem;
        gap: 1rem;
    }

    .title-song {
        font-size: 1.15rem;
    }

    .artist-name {
        font-size: .9rem;
    }

    .player-song-info-img img {
        inline-size: 5rem;
    }
}