.search-bar {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input-div {
    inline-size: 10rem;
}

.logo {
    font-size: 1.5rem;
    cursor: pointer;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon {
    color: rgb(174, 4, 4);

    &:hover {
        cursor: pointer;
    }
}

.input-search {
    inline-size: 100%;
    block-size: 100%;
    font: var(--baseFont);
    padding-inline: 1rem;
    padding-block: .5rem;
    outline: none;
    background-color: #00000000;
    color: var(--white);
    border: none;
    border: 0.2rem solid #00000000;
    border-block-end: 0.2rem solid var(--gray30);
}

.input-search:focus {
    border-radius: 2rem;
    border: 0.2rem solid var(--gray30);
    transition: .2s ease;
}


@media screen and (min-width: 768px) {
    .input-div {
        inline-size: 25rem;
    }

    .logo {
        font-size: 2rem;
    }
}