@import './auth/layout/layout.css';
@import './spotifu/pages/homepage.css';

@import './spotifu/components/playernav.css';
@import './spotifu/components/searchbar.css';
@import './spotifu/views/homeview.css';
@import './spotifu//views/profileview.css';
@import './spotifu//components/song.css';
@import './spotifu/components/songlist.css';

:root {
    font-size: 14px;
    --primary: #00B050;
    --white: #FFFFFF;
    --gray10: #B3B3B3;
    --gray20: #737373;
    --gray30: #282828;
    --gray40: #181818;
    --gray50: #121212;
    --gray60: #000000;
    --basefontFamily: "Poppins", sans-serif;
    --headLine: bold 2.25rem/normal var(--basefontFamily);
    --headLine1: bold 2rem/normal var(--basefontFamily);
    --headLine2: bold 1.5rem/1.75rem var(--basefontFamily);
    --baseFont: normal 1rem/1.375rem var(--basefontFamily);
    --baseFontBold: bold .875rem/1.375rem var(--basefontFamily);
    --button: bold .875rem/1rem var(--basefontFamily);
    --small: normal .75em/1rem var(--basefontFamily)
}

.body {
    background: var(--gray50);
    color: var(--gray10);
    font: var(--baseFont);
    margin: 0;
}

.input {
    font: var(--baseFont);
    font-size: 1.3rem;
    padding-inline: 1.25rem;
    padding-block: .75rem;
    border-radius: .5rem;
    border: 1px solid var(--gray10);
}

.input:focus {
    border: 1px solid var(--primary);
    outline: none;
}

.primary-button {
    padding-inline: 1rem;
    padding-block: .5rem;
    border-radius: .5rem;
    background-color: var(--primary);
    font: var(--baseFont);
    color: var(--white);
    border: none;
}

.link {
    color: var(--gray60);
}

.error-message {
    margin: 0;
    color: rgb(178, 8, 8);
}